<div id="resetPassword">
  <div class="reset_box">
    <div class="face">
      <em>
        <img width="90" id="userHead" src="./../../assets/images/userFace.png" alt="">
      </em>
      <p>重置密码</p>
    </div>
    <ng-container *ngIf="showType==1">
      <ul>
        <li>
          <input type="password" class="txt" placeholder="输入账号名或邮箱" [(ngModel)]="account" (click)="inputStart()">
        </li>
        <p class="erro_tips">{{errorMsg}}</p>
        <li>
          <span class="btn" (click)="resetApply()">确定</span>
        </li>
        <p class="register">
          <span (click)="goToLogin()">返回登录&nbsp;&nbsp;></span>
        </p>
      </ul>
    </ng-container>
    <ng-container *ngIf="showType==2">
      <ul>
        <li>
          <input type="password" class="txt" placeholder="输入新密码" [(ngModel)]="password" (click)="inputStart()">
        </li>
        <li>
          <input type="password" class="txt" placeholder="确认密码" [(ngModel)]="confirm_password" (click)="inputStart()">
        </li>
        <p class="erro_tips">{{errorMsg}}</p>
        <li>
          <span class="btn" (click)="resetPassword()">确定</span>
        </li>
        <p class="register">
          <span (click)="goToLogin()">返回登录&nbsp;&nbsp;></span>
        </p>
      </ul>
    </ng-container>


  </div>
</div>
