$formbase__prefix     : 'bud-' !default;
$formbase__gutter     : 1.8rem !default;
$formbase__background : #fff !default;
$formbase__svg        : #df4f00 !default;
$formbase__border     : #d9d9d9 !default;
$formbase__active     : #ff9c66 !default;
$formbase__shadow     : inset 0 1px 3px rgba(0, 0, 0, .05) !default;
$formbase__duration   : .3s !default;
$formbase__timing     : ease !default;
$formbase__radius     : 4px;
$formbase__active-shadown: #ffb68e 0 0 3px 0;
