.#{ $prefix }panel {
  padding: 0;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px 0;
  background: #FFF;
  border-radius: 3px;
  >.header {
    padding:0 7px;
    border-bottom: 1px solid #d9d9d9;
    background: #f4f4f4;
    font-size: 12px;
    color: #222;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 30px;
    display: flex;
    align-items: center;
  }
  >.body {
    position: relative;
  }
}
