.app-main{
    display: flex;
}

.switch {
  position: fixed;
  bottom: 25px;
  right: 0;
  height: 96px;
  z-index: 999;
  //vars
  $fg:#30bc73;
  $pi:3.14;

  //config
  $menu-items:4;
  $open-distance:105px;
  $opening-angle:$pi*2;

  a{
    color:inherit;
  }
  h1, h2, h3, h4{
    margin:0;
    margin-bottom:10px;
    margin-top:10px;
  }
  h1{
    font-size:3em;
  }
  %goo{
    filter:url('#shadowed-goo');
    // debug
    //background:rgba(255,0,0,0.2);
  }
  %ball{
    background:$fg;
    border-radius:100%;
    width:60px;
    height:60px;
    position:absolute;
    color: #FFF;
    text-align:center;
    line-height:60px;
    transform:translate3d(0,0,0);
    transition:transform ease-out 200ms;
  }
  .menu-open{
    display:none;
  }
  .menu-item{
    @extend %ball;
  }
  .hamburger{
    $width:25px;
    $height:3px;
    width:$width;
    height:$height;
    background: #FFF;
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-$width/2;
    margin-top:-$height/2;
    transition:transform 200ms;
  }
  $hamburger-spacing:8px;
  .hamburger-1{
    transform:translate3d(0,-$hamburger-spacing,0);
  }
  .hamburger-2{
    transform:translate3d(0,0,0);
  }
  .hamburger-3{
    transform:translate3d(0,$hamburger-spacing,0);
  }
  .menu-open:checked+.menu-open-button{
    .hamburger-1{
      transform:translate3d(0,0,0) rotate(45deg);
    }
    .hamburger-2{
      transform:translate3d(0,0,0) scale(0.1,1);
    }
    .hamburger-3{
      transform:translate3d(0,0,0) rotate(-45deg);
    }
  }
  .menu{
    @extend %goo;
    position:absolute;
    right: 96px;
    box-sizing:border-box;
    font-size:20px;
    text-align:right;
  }


  .menu-item{
    transition: 1s all;
    &:hover{
      background:white;
      color:$fg;
    }
    @for $i from 1 through $menu-items{
      &:nth-child(#{$i+2}){
        transition-duration:180ms;
      }
    }
  }

  .menu-open-button{
    @extend %ball;
    z-index:2;
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-duration:400ms;
    transform:scale(1.1,1.1) translate3d(0,0,0);
    cursor:pointer;
  }
  .menu-open-button:hover{
    transform:scale(1.2,1.2) translate3d(0,0,0);
  }
  .menu-open:checked+.menu-open-button{
    transition-timing-function:linear;
    transition-duration:200ms;
    transform:scale(0.8,0.8) translate3d(0,0,0);
  }

  .menu-open:checked~.menu-item{
    transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
    @for $i from 1 through $menu-items{

      &:nth-child(#{$i+2}){
        transition-duration:90ms+(100ms*$i);
        margin-left: (-80px*$i);
      }
    }
  }
}

.switch-svg {
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
}

.bud-main {
  margin-left: 16%;
  min-width: 860px;
  padding: 0;
  background-color: #f0f0f0;
  min-height: 100vh;
  width: 100%;
}

.testClass{
  text-decoration: none;
  color: #a3b0bf;
  padding: 18px 0 18px 15px;
  font-size: 14px;
  line-height: 0;
  cursor: pointer;
}

testClass:hover{
  color: #ffffff;
}

.fa-caret-down,.fa-caret-right{
  position: absolute;
  right: 10px;
}

:host ::ng-deep{
  .bud-nav-menu-wrap{
    bottom: 0;
  }
}

.margin-left0{
  margin-left: 0;
}

.checkAll > i{
  margin-right: 6px;
}

.paddingItem{
  padding: 18px 14px;
}

.bud-nav .top{
  //padding: px;
}
